header.header {
    background-color: rgb(226, 218, 218);
    padding: 0px 15px;
    overflow:hidden;
    white-space: nowrap;
    box-shadow:  var(--shadow);
}

header.header  h1 {
    font-size: 1.8em;
}